@charset "UTF-8";
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
/* INDEX */
#carrusel {
  /* GRID */
  grid-area: carrusel; }

#masVendidos {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  /* GRID */
  grid-area: masVendidos; }

.newsletter {
  margin-top: 50px;
  padding: 60px;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/17/coffee-1869772_960_720.jpg);
  background-size: cover;
  background-position: 0px 1000px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  /* GRID */
  grid-area: newsletter; }

.boton {
  background-image: linear-gradient(to right, #000000, #434343);
  color: white;
  border-radius: 2px;
  border: none;
  letter-spacing: 1px;
  width: 110px;
  height: 30px; }

#verMas a {
  text-decoration: none;
  color: black;
  transition: all .5s;
  border-bottom: 2px solid black; }
  #verMas a:hover {
    color: red;
    font-size: 125%; }

/* PRODUCTOS */
.productos {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 90px; }
  .productos img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    transition: all .4s;
    /* tiempo de duración de la animación */ }
    .productos img:hover {
      width: 350px;
      height: 350px; }

.cajaProducto {
  background-color: #908e81;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 10px; }
  .cajaProducto .nombreProd {
    color: white;
    font-size: 24px; }
  .cajaProducto .opcionesProd {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .cajaProducto .opcionesProd button {
      color: #0cb50c;
      background-color: white;
      border: none; }
      .cajaProducto .opcionesProd button:hover {
        color: white;
        background-color: #0cb50c; }
      .cajaProducto .opcionesProd button:focus {
        box-shadow: none; }
    .cajaProducto .opcionesProd .precio {
      color: white;
      font-size: 28px;
      align-items: flex-end; }

/* FAQ Y NOSOTROS */
.imagenCafe {
  max-width: 95%; }

.accordion {
  z-index: 1; }

.accordion-button {
  background-color: #747274; }
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    /* cambia el color de las flechas del acordeón */ }
  .accordion-button:hover {
    filter: brightness(95%);
    transition: all 0.2s; }
  .accordion-button:focus {
    box-shadow: none; }
  .accordion-button:not(.collapsed) {
    background-color: #747274; }

.accordion-body {
  background-color: #B9B7A7;
  transition: all .4s; }
  .accordion-body:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
    /* crea una sombra al rededor del body del acordeon */ }

.nombreSeccion {
  font-size: 2rem;
  margin: 25px; }

.titulo {
  margin: 12px;
  font-size: 27px; }

.centrado {
  text-align: center; }

.botonWsp {
  background-color: #128c7e;
  color: white; }
  .botonWsp:focus, .botonWsp:hover {
    box-shadow: none; }
  .botonWsp:hover {
    background-color: #25d366;
    border-color: none;
    color: white; }

.cursiva {
  font-style: italic;
  color: white; }

.parrafo, .listaOrdenada {
  margin: 12px;
  font-size: 20px; }

article {
  margin: 20px;
  padding: 20px; }

iframe {
  max-width: 100%; }

.seccionGrid {
  /* GRID */
  grid-area: seccionGrid; }

/* CONTACTO */
form {
  margin: 10px;
  padding: 10px;
  font-size: 20px; }
  form fieldset {
    margin: 10px;
    padding: 10px; }
  form textarea {
    padding: 10px; }

.form-control:focus {
  box-shadow: none;
  border-color: black; }

/* DISEÑO RESPONSIVE */
/* VISTA TABLET */
@media screen and (max-width: 1000px) {
  .padreGrid {
    display: grid;
    grid-template-areas: "header header" "carrusel carrusel" "masVendidos masVendidos" "newsletter newsletter" "footer footer"; }
  body {
    text-align: center; }
  .listaOrdenada {
    margin: 0;
    padding: 0;
    /* le quita el margen a las listas ordenadas */ }
  .articuloFaq {
    flex-direction: column;
    justify-content: center; }
  .productos img:hover {
    width: 300px;
    height: 300px; } }

/* VISTA MOBILE */
@media screen and (max-width: 620px) {
  .padreGrid {
    display: grid;
    grid-template-areas: "header" "carrusel" "masVendidos" "newsletter" "footer"; }
  .imagenCafe {
    display: none; }
  header nav a {
    border: none; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

li {
  list-style-type: none; }

.logo {
  width: auto;
  height: 75px; }

.busqueda {
  width: 25px;
  height: auto; }

header {
  display: flex;
  background-color: #747274;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: auto;
  box-shadow: 0px 3px 4px 1px #747274;
  /* hace que el menu de navegación siga al scroll: */
  position: sticky;
  top: 0;
  z-index: 2;
  /* GRID */
  grid-area: header; }
  header .dropdown-menu {
    background-color: #747274; }
  header nav {
    background-color: #747274; }
    header nav a {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      padding: 7px;
      margin: 2px;
      /* Aplica estilo al menú de navegación */ }

body {
  background-color: #B9B7A7; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -3px 4px 1px rgba(0, 0, 0, 0.75);
  color: white;
  background-color: black;
  /* GRID */
  grid-area: footer; }
  footer i {
    padding: 5px;
    color: white;
    font-size: 2rem; }

/* APLICO GRID */
.padreGrid {
  display: grid;
  grid-template-areas: "header header header" "carrusel carrusel carrusel" "masVendidos masVendidos masVendidos" "newsletter newsletter newsletter" "footer footer footer"; }

.padreGridDos {
  display: grid;
  grid-template-areas: "header header header" "seccionGrid seccionGrid seccionGrid" "newsletter newsletter newsletter" "footer footer footer"; }

/* ANIMACIONES */
/* menu de navegacion */
.menuNav {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size .3s; }
  .menuNav:hover, .menuNav:focus {
    background-size: 100% 3px; }

/* titulos */
@keyframes titulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.titulo {
  animation-name: titulo;
  animation-duration: .5s;
  animation-iteration-count: 1; }
