@charset "UTF-8";
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
/* HEADER */
header {
  display: flex;
  background-color: #747274;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 3px 4px 1px #747274;
  /* hace que el menu de navegación siga al scroll: */
  position: sticky;
  top: 0;
  z-index: 2; }
  header nav {
    background-color: #747274; }
    header nav .menuNav {
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 3px;
      transition: background-size .3s; }
      header nav .menuNav:hover, header nav .menuNav:focus {
        background-size: 100% 3px; }
    header nav a {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      padding: 7px;
      margin: 2px;
      /* Aplica estilo al menú de navegación */ }
      header nav a:hover {
        color: white; }
    header nav .busqueda {
      /* botón de busqueda */
      border: 1px solid white;
      color: white; }
      header nav .busqueda:hover {
        background-color: white;
        color: black; }
      header nav .busqueda:focus {
        box-shadow: none; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -3px 4px 1px rgba(0, 0, 0, 0.75);
  color: white;
  background-color: black; }
  footer i {
    padding: 5px;
    color: white;
    font-size: 2rem; }

/* INDEX */
#masVendidos {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.newsletter {
  margin-top: 50px;
  padding: 60px;
  background-image: url(../img/fondoNews.jpg);
  object-fit: fill;
  border-top: 2px solid black; }

.boton, .botonContacto {
  margin: 5px;
  background: linear-gradient(to right, #000000, #434343);
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  transition: all .2s; }
  .boton:hover, .botonContacto:hover {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: black; }

#verMas a {
  text-decoration: none;
  color: black;
  transition: all .5s;
  border-bottom: 2px solid black; }
  #verMas a:hover {
    color: #4E5166;
    border-color: #4E5166;
    font-size: 125%; }

/* PRODUCTOS */
.productos {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 90px; }
  .productos img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    transition: all .4s;
    /* tiempo de duración de la animación */ }
    .productos img:hover {
      width: 350px;
      height: 350px; }

.cajaProducto {
  /* caja contenedora de los productos */
  background-color: #908e81;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 10px;
  /* personalización del prompt del MODAL */ }
  .cajaProducto .nombreProd {
    color: white;
    font-size: 24px; }
  .cajaProducto .opcionesProd {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .cajaProducto .opcionesProd .btn-success {
      color: #0cb50c;
      background-color: white;
      border: none; }
      .cajaProducto .opcionesProd .btn-success:hover {
        color: white;
        background-color: #0cb50c; }
      .cajaProducto .opcionesProd .btn-success:focus {
        box-shadow: none; }
    .cajaProducto .opcionesProd .precio {
      color: white;
      font-size: 28px;
      align-items: flex-end; }
  .cajaProducto .modal-header {
    background-color: #747274;
    color: white; }
    .cajaProducto .modal-header .btn-close:focus {
      box-shadow: none; }
  .cajaProducto .modal-body {
    background: linear-gradient(to bottom, #ada996, #eaeaea); }
  .cajaProducto .modal-footer {
    background-color: #eaeaea; }
    .cajaProducto .modal-footer .btn-success {
      color: white;
      background-color: #0cb50c;
      border: none; }
      .cajaProducto .modal-footer .btn-success:focus {
        box-shadow: none; }
    .cajaProducto .modal-footer .btn-secondary {
      border: none;
      background-color: #747274; }
      .cajaProducto .modal-footer .btn-secondary:focus {
        box-shadow: none; }

/* FAQ Y NOSOTROS */
.imagenCafe {
  max-width: 95%; }

.accordion {
  z-index: 1;
  width: 940px;
  max-width: 100%; }

.acordeon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  gap: 15px; }

.accordion-button {
  background-color: #747274; }
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    /* cambia el color de las flechas del acordeón */ }
  .accordion-button:hover {
    filter: brightness(95%);
    transition: all 0.2s; }
  .accordion-button:focus {
    box-shadow: none; }
  .accordion-button:not(.collapsed) {
    background-color: #747274; }

.accordion-body {
  background-color: #B9B7A7;
  transition: all .4s; }
  .accordion-body:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
    /* crea una sombra alrededor del body del acordeon */ }

.nombreSeccion {
  font-size: 2rem;
  margin: 25px; }

@keyframes titulo {
  /* animaciones de títulos */
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.titulo {
  margin: 12px;
  font-size: 24px;
  animation-name: titulo;
  animation-duration: .5s;
  animation-iteration-count: 1; }

.dondeEstamos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap; }
  .dondeEstamos .botonWsp {
    background-color: #128c7e;
    color: white; }
    .dondeEstamos .botonWsp:focus, .dondeEstamos .botonWsp:hover {
      box-shadow: none; }
    .dondeEstamos .botonWsp:hover {
      background-color: #25d366;
      border-color: none;
      color: white; }

.cursiva {
  font-style: italic;
  color: white; }

.parrafo, .listaOrdenada {
  margin: 12px;
  font-size: 20px; }

article {
  margin: 20px;
  padding: 20px; }

iframe {
  max-width: 95%; }

/* CONTACTO */
form {
  margin: 10px;
  padding: 10px;
  font-size: 20px; }
  form fieldset {
    margin: 10px;
    padding: 10px; }
  form textarea {
    padding: 10px; }

.form-control:focus {
  box-shadow: none;
  border-color: black; }

.botonContacto {
  height: auto;
  width: auto;
  margin: 0px; }
  .botonContacto:focus {
    box-shadow: none; }

/* DISEÑO RESPONSIVE */
/* VISTA TABLET */
@media screen and (max-width: 991px) {
  body {
    text-align: center; }
  .listaOrdenada {
    margin: 0;
    padding: 0;
    /* le quita el margen a las listas ordenadas */ }
  .nav-item {
    padding: 8px; }
  .articuloFaq {
    flex-direction: column;
    justify-content: center; }
  .productos img:hover {
    width: 300px;
    height: 300px; }
  .acordeon {
    flex-direction: column;
    gap: 2px; } }

/* VISTA MOBILE */
@media screen and (max-width: 620px) {
  #carrusel {
    display: none; }
  .imagenCafe {
    display: none; }
  header nav a {
    border: none; }
  .accordion-button {
    display: block;
    text-align: center; }
  .cursiva {
    font-size: 22px; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

body {
  background-color: #B9B7A7; }

li {
  list-style-type: none; }

.logo {
  width: auto;
  height: 75px; }
