/* CONTACTO */

form{
    margin: 10px;
    padding: 10px;
    font-size: 20px;

    fieldset{
        margin: 10px;
        padding: 10px;
    }
    
    textarea{
        padding: 10px;
    }    
}

.form-control:focus{
    box-shadow: none;
    border-color: black;
}
