/* CONTACTO */

// map
$estiloForm:(margen:10px,tamFuente:20px,borde:black);

form{
    margin: map-get($estiloForm,margen);
    padding: map-get($estiloForm,margen);
    font-size: map-get($estiloForm,tamFuente);

    fieldset{
        margin: map-get($estiloForm,margen);
        padding: map-get($estiloForm,margen);
    }
    
    textarea{
        padding: map-get($estiloForm,margen);
    }    
}

.form-control:focus{
    box-shadow: none;
    border-color: map-get($estiloForm,borde);
}
