
/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -3px 4px 1px rgba(0,0,0,0.75);

    color: white;
    background-color: black;

    i{
        padding: 5px;
        color: white;
        font-size: 2rem;
    }
}