
/* INDEX */

#masVendidos {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.newsletter {
    margin-top: 50px;
    padding: 60px;
    background-image: url(../img/fondoNews.jpg);
    object-fit: fill;
    border-top: 2px solid black;
}

.boton {
    margin: 5px;
    background: linear-gradient(to right,#000000,#434343);
    color: white;
    border:none;
    width: 100px;
    height: 30px;
    transition: all .2s;

    &:hover{
        background: linear-gradient(to right, #ece9e6, #ffffff);
        color: black;
    }
}

#verMas a {
    text-decoration: none;
    color: black;
    transition: all .5s;
    border-bottom: 2px solid black;

    &:hover{
        color: #4E5166;
        border-color: #4E5166;
        font-size: 125%;
    
    }
}