
/* INDEX */

#carrusel {
    /* GRID */
    grid-area: carrusel;
}

#masVendidos {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    /* GRID */
    grid-area: masVendidos;
}

.newsletter {
    margin-top: 50px;
    padding: 60px;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/17/coffee-1869772_960_720.jpg);
    background-size: cover;
    background-position: 0px 1000px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* GRID */
    grid-area: newsletter;
}

.boton {
    background-image: linear-gradient(to right,#000000,#434343);
    color: white;
    border-radius: 2px;
    border: none;
    letter-spacing: 1px;
    width: 110px;
    height: 30px;
}


#verMas a {
    text-decoration: none;
    color: black;
    transition: all .5s;
    border-bottom: 2px solid black;

    &:hover{
        color: red;
        font-size: 125%;
    
    }
}