/* PRODUCTOS */

.productos{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 90px;

    img{
        width: 300px;
        height: 300px;
        max-width: 100%;
        object-fit: contain;
        transition: all .4s;
        /* tiempo de duración de la animación */

        &:hover {
            width: 350px;
            height: 350px;
        }

    }

}

.cajaProducto{
    /* caja contenedora de los productos */
    background-color: #908e81;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.6);
    margin: 10px;
    padding: 10px;

    .nombreProd{
        color: white;
        font-size: 24px;
    }

    .opcionesProd{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .btn-success{
            color: rgb(12, 181, 12);
            background-color: white;
            border: none;

            &:hover{
                color: white;
                background-color:rgb(12, 181, 12) ;
            }

            &:focus{
                box-shadow: none;
            }
        }

        .precio{
            color: white;
            font-size: 28px;
            align-items: flex-end;
        }
    }

    /* personalización del prompt del MODAL */
    .modal-header{
        background-color: $color-header;
        color: white;

        .btn-close:focus{
            box-shadow: none;
        }
    }

    .modal-body{
        background: linear-gradient(to bottom, #ada996, #eaeaea); 

    }
    
    .modal-footer{
        background-color: #eaeaea;
        
        .btn-success{
            color: white;
            background-color:rgb(12, 181, 12);
            border: none;
                
            &:focus{
                box-shadow: none;
            }
        }

        .btn-secondary{
            border: none;
            background-color: $color-header;
                
            &:focus{
                box-shadow: none;
            }

        }
    }
    
}
