/* DISEÑO RESPONSIVE */

/* VISTA TABLET */

@media screen and (max-width:991px){
    body{
        text-align: center;
    }
    .listaOrdenada{
        margin: 0;
        padding: 0;
        /* le quita el margen a las listas ordenadas */
    }
    .nav-item{
        padding: 8px;
    }
    .articuloFaq{
        flex-direction: column;
        justify-content: center;
    }
    .productos img:hover{
        width: 300px;
        height: 300px;
    }
}
/* VISTA MOBILE */

@media screen and (max-width:620px){
    #carrusel{
        display: none;
    }
    
    .imagenCafe{
        display: none;
    }
    
    header nav a{
        border: none;
    }
    
}
